mat-dialog-content {
  padding: 10px 24px;
}

mat-card-title {
  font-weight: normal;
}

mat-radio-group {
  display: flex;
  flex-direction: column;

  mat-radio-button {
    margin-bottom: 18px;
  }
}
