<h2 mat-dialog-title>Settings</h2>
<mat-dialog-content class="mat-typography">
  <h3>Page</h3>
      <mat-radio-group
        (change)="selectPageType($event)"
        [value]="selectedPageTypeId$ | async"
      >
        <mat-radio-button
          *ngFor="let pageType of pageTypes"
          [value]="pageType.id"
          [checked]="pageType.id === (selectedPageTypeId$ | async)"
        >{{ pageType.title }}<br /><small>{{ pageType.description }}</small></mat-radio-button>
      </mat-radio-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Back</button>
</mat-dialog-actions>
