mat-dialog-content {
  padding: 10px 24px;
}

mat-card-title {
  font-weight: normal;
}

mat-radio-group {
  display: flex;
  flex-direction: column;

  mat-radio-button {
    margin-bottom: 18px;
  }
}

h2.mat-dialog-title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin: 0 -24px;
  text-indent: 24px;
}
